version: '3.9'
services:
  database:
    image: postgres:15-alpine
    container_name: database
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: saas_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: vinay2122@
    volumes:
      - pgdata:/var/lib/postgresql/data
  backend:
    build:
      context: ./backend
    container_name: backend
    depends_on:
      - database
    environment:
      NODE_ENV: production
      PORT: 5000
      DB_HOST: database
      DB_PORT: 5432
      DB_NAME: saas_db
      DB_USER: postgres
      DB_PASSWORD: vinay2122@
      DB_SSL: "false"
      JWT_SECRET: change_me
      JWT_EXPIRES_IN: 1d
    ports:
      - "5000:5000"
    command: ["npm", "start"]
    restart: unless-stopped
volumes:
  pgdata:
